<.header>
  Edit Serie <%= @serie.id %>
  <:subtitle>Use this form to manage serie records in your database.</:subtitle>
</.header>

<.serie_form changeset={@changeset} action={~p"/series/#{@serie}"} />

<.back navigate={~p"/series"}>Back to series</.back>
