<.header>
  New Serie
  <:subtitle>Use this form to manage serie records in your database.</:subtitle>
</.header>

<.serie_form changeset={@changeset} action={~p"/series"} />

<.back navigate={~p"/series"}>Back to series</.back>
