<.header>
  Serie <%= @serie.id %>
  <:subtitle>This is a serie record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/series/#{@serie}/edit"}>
      <.button>Edit serie</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @serie.name %></:item>
</.list>

<.back navigate={~p"/series"}>Back to series</.back>
