<.header>
  Edit Author <%= @author.id %>
  <:subtitle>Use this form to manage author records in your database.</:subtitle>
</.header>

<.author_form changeset={@changeset} action={~p"/authors/#{@author}"} />

<.back navigate={~p"/authors"}>Back to authors</.back>
