<.header>
  New Author
  <:subtitle>Use this form to manage author records in your database.</:subtitle>
</.header>

<.author_form changeset={@changeset} action={~p"/authors"} />

<.back navigate={~p"/authors"}>Back to authors</.back>
